* {
    margin: auto;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
  }

h1 {
    text-align: center;
}

.pure-u-1-2 , .pure-u-1-1{
    font-family: 'Times New Roman', Times, serif;
    width: max-content;
    text-align: center;
}

.pure-g {
    justify-content: center;
}